*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position:absolute; */
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    background-color: white;
    z-index: 1000;
    color: rgb(17, 17, 17);
    

}

.logo img{
    width: 60%;
    height: 10vh;
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}
header .navbar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    
}
header .navbar li{
    list-style: none;
    margin: 0px 10px;

}
header li a{
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(15, 14, 14);
    
}
header li a:hover{
    color: rgb(182, 36, 36);
}
header .icons {
    position: relative;
    padding:15px;
    /* width: 200px;
    height: 20vh; */



}

.search{
    position: relative;
    width: 300px;
    height: 40px;
   
    
}
.search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 0 10px 0 45px;


}
.search input::placeholder{
    color: rgb(5, 4, 4);

}
.search .fa-solid{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: rgb(7, 6, 6);
    border-right:10px 

}
#menu{
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
    border: .1rem solid rgb(22, 22, 22);
    cursor: pointer;
    display: none;
}

@media(max-width:992px){
    header{
        padding: 10px 20px;
        flex-direction: column;

    }
}
@media(max-width:600px){
    .search{
        width: 100%;
    }
}
section{
    padding:60px 10% ;
}
#hero-section {
            
    background-image: url(/images/successful-college-student-lg.png);
    /* background: rgb(2,0,36); */
/* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position:relative;
    z-index: -1;
    top: 0;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}
.container .text h1{
    background-color:rgb(228, 97, 140);
    color: white;
    padding: 5px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
    
}
.container .text h2{
    color:white;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.container .text{
    text-align: center;

    position: absolute;
    left: 20px;
    top: 200px;
   
}
/* .container .text {
    float: right;
    margin-top: 10%;
   
} */
#btn{
    padding: 7px 12px;
    background-color:rgb(223, 98, 140);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 15px;
    font-weight:400 ;
}
#btn:hover{

    background-color:white ;
    color: black;

}
@media(max-width:912px){
    .container .text h1{
        font-size: 30px;
        text-align: center;
        padding: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .container .text{
        margin-top: 30%;
    }
    /* .container .text h2{
       font-size: ;
    } */

}
@media(max-width:414px){
    .container .text h1{
        font-size: 20px;
    }
    .container .text h2{
        font-size: 15px;

    }


}
@media(max-width:375px){
    /* #hero-section{
        margin-top: 10%;
    } */
    .container .text h1{
        font-size: 16px;
    }
    .container .text h2{
        font-size: 12px;

    }


}
@media(max-width:360px){
    #btn{
    font-size: 10px;
    }
}


.box .card h3{
    padding-left: 10px;
}

.box .card .icons{
    
    font-size: 30px;
    font-weight: 300;
    color: black;
}
.box .card{
    background-color: yellow;
    padding: 20px;
    margin-top: 20px;
}


.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    /* position: absolute; */
    align-items: center;


}
.mini-section{
    padding: 0 30px;
    padding-top:0
}
.mini-section{
    margin-top: 0;
}
@media(max-width:912px){
    .box{
        display: grid;
        /* grid-template-columns: 1fr  1fr ; */
        display: none;

    }
    .box .card{
        height: 15vh;
        text-align: center;
    }
    .mini-section{
        padding: 0 ;
    }
    .text{
        top: 300px;
        left: 30px;
        right: 30px;
    }
    .text h1{
        font-size: 40px;

    }
    .text h2{
        font-size:  30px;
    }
    #btn{
        padding: 8px 15px;
        background-color:rgb(252, 255, 47);
        color: rgb(12, 10, 10);
        border-radius: 4px;
        outline: none;
        border: none;
        margin-top: 15px;
        font-weight:400 ;
        font-size: 18px;
    }


}

/* .head{
    
    text-align: center;
    color: rgb(31, 28, 28);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;

}
   

 
#about{
    margin-top: 5%;
} */

#about-sec{
    background-image: url(./images/about\ us\ bg.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position:relative;
    z-index: -1;
    top: 0;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    flex-wrap: wrap;
   

}
/* .lbox img{
    width: 100%;
    height: 34vh;
 
} */

.container2 .rbox .inner-r{
    margin-top: 70px;
    padding:10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.container2 .rbox{
    background-color: rgb(5, 5, 99);
    opacity: .6;
    height: 90vh;
    width: 100%;
    /* position: absolute
    ; */
    
}
.container2 .rbox .inner-r h1{
    padding-bottom:10px ;
 

}
.container2 .rbox .inner-r p{
    padding-bottom: 10px;
}
.container2 .rbox .inner-r #btn2{
    padding: 5px 12px;
    background-color: rgb(97, 231, 56) ;
    color: rgb(255, 248, 248);
    border-radius: 20px;
    outline: none;
    border: none;
    

}
#btn2:hover{
    background-color:rgb(175, 104, 12) ;
}
.container2 .rbox .inner-r .butt{
    padding-top:15px ;
}
@media(max-width:540px)
{
    .container2{
        display: grid;
        grid-template-columns: 1fr;
        

    }
    /* .container2 .rbox .inner-r{
        margin-top: 60%;
    } */
    .container2 .rbox{
        height: 90vh;
    }
}
@media(max-width:412px)
{
    .container2{
        display: grid;
        grid-template-columns: 1fr;


    }
    .container2 .rbox .inner-r{
        margin-top: 70%;
    }
    /* .container2 .rbox{
        height: 90vh;
    } */
}





/* #couses-sec{
    padding-top:15% ;
} */
#couses2-sec{
    padding-top:20px ;
}
.box1 h1{
    font-size: 30px;
    color: rgb(20, 19, 19);
    /* border-radius: 50px; */
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.box {
    text-align: center;
}
.text{
    text-align: center;
    color: black;
    padding-bottom: 10px;
}
 .container3 .text h2{
    /* background-color:rgb(16, 104, 116); */
    /* background-image: linear-gradient(to right,rgb(126, 142, 35) white, yellow , rgb(0, 195, 255)); */
    color: rgb(27, 22, 22);
    text-align: left;

    margin-bottom: 10px;
}

    /* background-color: rgb(206, 206, 150); */
    /* background-image: linear-gradient(to right,green , yellow); */


#btn1{
    padding: 5px 12px;
    color: rgb(222, 248, 243);
    background-color:rgb(1, 143, 91);
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    border-radius: 4px;

}
#btn2{
    padding: 5px 12px;
    background-color: transparent;
    border :2px solid rgb(1, 143, 91);
    outline: none;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
    border-radius: 4px;
    color: rgb(17, 59, 24);

}
#btn2:hover{

    background-color: rgb(1, 143, 91);
    color: white;


}
.image img{

    height: 25vh;
}
.card11 img{
    width: 100%;
}
.container3 .card11 {
   color: rgb(10, 8, 8);
   padding: 1px;
   text-align: center;
   /* border: 2px solid rgb(216, 84, 31); */
   

}

.container3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.button{
    text-align: center;
    margin-top: 10px;
}


@media(max-width:768px){
    .container3{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 4px;

    }
    /* #couses-sec{
        padding-top:15% ;
    } */
    .mini-section{
        display: none;
    }
}


#btn1:hover{
    padding: 5px 12px;
    color: white;
    background-color:rgb(47, 90, 74);
    /* border-radius: 30px; */
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 10px;

}
.left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}
.left p{
    color: rgb(151, 151, 151);
}
.left p i{
    padding-right: 3px;
}
 .container3 .text p{
    text-align: center;
    font-weight: 600;

}
.container3 .text h2{
    text-align: center;
}
.container3 .card11{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding-bottom: 20px;
}
.container3 .card11 .image img{
    border-radius: 10px;
}
@media(max-width:540px){
    .container3 .card11{
        margin-bottom: 20px;
    }
}
.container4 .card1 .image img{
    border-radius: 50%;

}
.container4 .card1{
    text-align: center;
    padding: 20px;
    /* background-image: linear-gradient(to right,rgb(128, 0, 122) , yellow); */
    background-color: rgb(231, 120, 46);
    opacity: .8;
}
.container4 .card1 .name {
    font-weight: 600;
    font-size: 18px;
    color: black;


}
.container4 .card1 .des{
    color: white;
    font-weight: 600;
}
.container4 .image img{
    /* height: 20vh; */
    width: 30%;
    text-align: center;

}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    padding: 0 60px;
}
#review{
    padding-left:0 ;
    padding-right: 0;
}

/* .container .text{
    text-align: left;
    font-size: 12px;
} */
.container .text h1{
    font-size: 30px;
    text-align: left;
}
.container .text h2{
    font-size: 25px;
    text-align: left;
}
/* #btn{text-align: center;} */
.container4 .heading {
    text-align: center;
    font-weight: 600;
}

.dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e4e4e4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  
  .dropdown:hover .dropdown-content {
    display: block;
   
  }
  .container4 .card1 .slider{
    max-width: 400px;
  }

@media(max-width:414px){
    .container4 .card1 .image img{
        width: 100%;
    }

}
@media(max-width:820px){
    .container4 .card1 .image img{
        width: 100%;
    }

}
#faculty{
    background-color: rgb(60, 108, 128);
     /* background-image: linear-gradient(to right,lightblue, yellow); */
}
.container7 .head2{
    text-align: center;
    font-weight: 600;
    margin-top: 10%;
    color: rgb(252, 252, 252);
    margin-bottom: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container8{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
}
.container8 .boox{
    display: flex;
    justify-content:space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 20px;
    padding: 15px;
    /* border: 1px solid red; */
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.container8 .boox .fac{
    margin: 20px;
    /* max-width: 00px; */
}
.container8 .boox .fac h5{ 
    color:darkcyan;
    font-size: 25px;
    font-weight: 600;
}
.container8 .boox .pic img{
    border-radius: 50%;
    height: 20vh;
    width: 100%;
}
.container8 .boox .icc i{
     padding: 5px;
     color:darkcyan;
     font-size: 20px;
     font-weight: 500;
}
@media(max-width:768px)
{
.container8 .boox .pic img{
    height: 20vh;
    width: 150%;

}

#faculty{
    margin-top: 18%;
    
}
.container8 .boox .fac{
    padding-left: 20px;
}
}
@media(max-width:414px){
    .container8{
        display: grid;
        grid-template-columns:  1fr;
        grid-gap: 10px;
    }
    #faculty{
        margin-top: 42%;
        
    }
    .container8 .boox .fac h5{
        font-size: 18px;
    }
}
@media(max-width:912px){
}
.container8{
    padding-top: 5%;
    
}














